*{
    box-sizing: border-box;
}
body{
    background-color: rgb(176, 166, 185);
    font-family: 'Times New Roman', Times, serif;
}
hr{
    border: 1px solid black;
}
header{
    text-align: center;

}
.profile{
    position: relative;
    margin:0 10px;
}
.profile-potrait{
    float:left;
    width: 300px;
    height: 300px;
    border-radius: 20%;
    margin-right: 30px;
}
span{
    color: rgb(141, 14, 14);
}
h3,h4{
    text-decoration: underline;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 23%;

}
th,td {
    text-align: left;
    padding: 20px;
    background-color: bisque;

}
.hobbies{
    margin:0 23%;
}
form{
    text-align: center;
}
#social-icons{
    text-align: center;
}